/* @override http://localhost:8082/resources/css/launch.css */

/* @group General */
body {
    margin: 0; 
 }
/* @end */

/* @group Header */

#appdock_list img{
	position: relative;
	z-index: 1000;
}

.dockcaption {
	position: relative;
	z-index: 1000;
}

#an_header {
    position: relative; 
    height: 45px;
    overflow: hidden;
    background: #333 url(../images/bg-header.gif) repeat-x;
}
#top_quote {
	margin-top: -25px;
	float: right;
	margin-right: 25px;
	color: #b2b2b2;
	font: 10px "Lucida Grande", Lucida, Verdana, sans-serif;
	z-index: 9;
	margin-left: 170px;
}
/* @end */